* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'geomanistregular';
}

@font-face{
    font-family:"LunchBoxOrnamentsW05-Rg";
    src:url("./fonts/LunchBox/LunchBoxOrnamentsW05-Rg.eot?#iefix");
    src:url("./fonts/LunchBox/LunchBoxOrnamentsW05-Rg.eot?#iefix") format("eot"),
        url("./fonts/LunchBox/LunchBoxOrnamentsW05-Rg.woff2") format("woff2"),
        url("./fonts/LunchBox/LunchBoxOrnamentsW05-Rg.woff") format("woff"),
        url("./fonts/LunchBox/LunchBoxOrnamentsW05-Rg.ttf") format("truetype");
}

@font-face{
    font-family:"LunchBoxW05-Bold";
    src:url("./fonts/LunchBox/LunchBoxW05-Bold.eot?#iefix");
    src:url("./fonts/LunchBox/LunchBoxW05-Bold.eot?#iefix") format("eot"),
        url("./fonts/LunchBox/LunchBoxW05-Bold.woff2") format("woff2"),
        url("./fonts/LunchBox/LunchBoxW05-Bold.woff") format("woff"),
        url("./fonts/LunchBox/LunchBoxW05-Bold.ttf") format("truetype");
}
@font-face{
    font-family:"LunchBoxW05-Light";
    src:url("./fonts/LunchBox/LunchBoxW05-Light.eot?#iefix");
    src:url("./fonts/LunchBox/LunchBoxW05-Light.eot?#iefix") format("eot"),
        url("./fonts/LunchBox/LunchBoxW05-Light.woff2") format("woff2"),
        url("./fonts/LunchBox/LunchBoxW05-Light.woff") format("woff"),
        url("./fonts/LunchBox/LunchBoxW05-Light.ttf") format("truetype");
}
@font-face{
    font-family:"LunchBoxW05-Regular";
    src:url("./fonts/LunchBox/LunchBoxW05-Regular.eot?#iefix");
    src:url("./fonts/LunchBox/LunchBoxW05-Regular.eot?#iefix") format("eot"),
        url("./fonts/LunchBox/LunchBoxW05-Regular.woff2") format("woff2"),
        url("./fonts/LunchBox/LunchBoxW05-Regular.woff") format("woff"),
        url("./fonts/LunchBox/LunchBoxW05-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'geomanistregular';
    src: url('./fonts/geomanist/Geomanist-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geomanistmedium';
    src: url('./fonts/geomanist/Geomanist-Medium.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geomanistblack';
    src: url('./fonts/geomanist/Geomanist-Black.otf');
    src: url('./fonts/geomanist/AnyConv.com__Geomanist-Medium\ \(1\).woff'), url('./fonts/geomanist/AnyConv.com__Geomanist-Black.woff2');
   
}

@font-face {
    font-family: 'geomanistbold';
    src: url('./fonts/geomanist/Geomanist-Bold.otf');
    src: url('./fonts/geomanist/AnyConv.com__Geomanist-Bold.woff'), url('./fonts/geomanist/AnyConv.com__Geomanist-Black.woff2');
   
}



// the header styles

header {
    width: 90%;
    margin: auto 5%;
    // background-color: darkorange;
    position: relative;
}


nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    min-height:7vh;
    align-items: center;
    border-radius: 10px;
    margin-top: 10px;
    padding: 15px 30px;
    -webkit-box-shadow: 1px 5px 27px -11px rgba(0,0,0,0.32); 
    box-shadow: 1px 5px 27px -11px rgba(0,0,0,0.32);
    .logo {
        height: 45px;
        width: 105px;
    }
    .nav-links {
        display: flex;
        justify-content: space-around;
        width: 30%;
        font-kerning: normal;
    }
    .nav-links li  {
        list-style: none;
    }
    .nav-links li a {
        color:#021D6D;
        text-decoration: none;
        font-family: 'geomanistbold', sans-serif;
        font-weight: 900;
        font-size: 1rem;
        line-height: 1;
    }

    .burger {
        display: none;
        cursor: pointer;
    }
    .burger div {
        width: 20px;
        height: 3px;
        background-color:  #021D6D;;
        margin: 5px;
    }
    @media  screen and (max-width: 1124px) {
        .nav-links {
            width: 50%;
        }
    }
    @media  screen and (max-width: 800px) {

        .nav-links {
            position: absolute;
            right: 0px;
            height: 90vh;
            top: 8vh;
            background-color: rgba(255, 255, 255, 0.7);
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            margin-bottom: 10px;
            transform: translateX(115%);
            -webkit-box-shadow: 2px 2px 12px 0px rgba(0,0,0,0.27); 
            box-shadow: 2px 2px 12px 0px rgba(0,0,0,0.27);
            transition: transform 0.5s ease-in;
        }
        .nav-active {
            //  turn the nav bar to the initial position in js
            transform: translateX(0%);
        }

        @keyframes navLinkFade {
            from {
                opacity: 0;
                transform: translateX(50px);
            }
            to {
                opacity: 1;
                transform: translateX(0px);
            }
          }

        .nav-links li  {
            border-bottom: 2px solid #979691;
            font-family: 'geomanistmedium';
        }
        .nav-links li {
            opacity: 0;
        }
        .burger {
            display: block;
        }
        
        .toggle .line1 {
            transform: rotate(-45deg) translate(-5px, 6px);
        }
        .toggle .line2 {
            opacity: 0;
        }
        .toggle .line3 {
            transform: rotate(45deg) translate(-5px, -6px);
        }
    }
    
}

@media  screen and (max-width: 800px) {
    body {
        overflow-x: hidden;
    }
    
}

.nutsandleaf .nut-leaf {
    // background-color: darkseagreen;
    position: absolute;
    z-index: -1;
    top: -15px;
    left: -74px;
}

.nutsandleaf .nuts {
    // background-color: rgb(63, 90, 63);
    position: absolute;
    top: 140px;
    left: -75px;
}

.dartandtext {
    position: absolute;
    top: 350px;
    left: 200px;
    .dart {
        img {
            position: absolute;
    top: 350px;
    left: 200px;
           width: 100%;
           max-width: 368px;
           max-height: auto;
        }
    }
}



// the hero section styles

.wrapper-section {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
    width:90%;
    margin-left: 10%;
    margin-top: 90px;
    .wrapper-text {
        width: 30%;
        h1 {
            color:#021D6D;
            font-family:"LunchBoxW05-Regular";
            font-size: 4em;
            font-weight: 800;
            letter-spacing: 0.1em;
            line-height: 1;
            margin-bottom: 50px;
        }
        p {
            font-family: 'geomanistmedium', sans-serif;
            line-height: 20px;
            color: rgb(45, 45, 45);
            
        }
        .par1 {
            margin-bottom: 20px;
        }
        .par2 {
            margin-bottom: 20px;
            width: 80%;
        }
        .par3 {
            margin-bottom: 20px;
            margin-top: 30px;
        }
    }
    .hero-image-wrapper {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: auto;
        .image1-dart {
            align-self: end;
            img {
                width: 100%;
                max-width: 428px;
                max-height: 374px;
            }
            .par4 {
           
                width: 60%;
                font-family: 'geomanistmedium', sans-serif;
                line-height: 20px;
                color: rgb(45, 45, 45);
                margin-top: -50px;
            }
        }
        .image2-hero-image {
            img {
                width: 100%;
                max-width: 1036px;
                max-height: 728px;
            }
        }

    }
}



// process of taking part

.yellow-flowers {
    margin-top: -140px;
    padding:0px;
    img {
        margin: 0px;
        width: 100%;
        max-width: 296px;
        height: 100%;

    }
}

.process-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media  screen and (max-width: 800px) {
    .yellow-flowers {
      display: none;
    }
    .palmeleaf-prizy img {
        display: none;
    }
    .content-prizy img {
      
      display: flex;
    }

}


// pizy section

.title-prizy {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 40px;

}

.content-prizy {
    display: flex;
    flex-direction: row;
    justify-content: center;
    img {
        width: 100%;
        max-width: 397px;
        max-height: auto;
    }
    @media  screen and (max-width: 800px) {
        flex-direction: column;
        align-items: center;
    }
}

.palmeleaf-prizy img {
    position: absolute;
    right: 0px;
    top: -96px;
}


// instagramm section

.leafcoco {
    img {
        position: absolute;
        top:  -50px;
    }
}

.coco {
    img {
        position: absolute;
        top: 250px;
        left: 65px;
    }
}


.insta-section {
    
        display: flex;
        flex-direction: column;
        justify-content: center;   
        align-items: center;
      .post-insta {
          display: flex;
          flex-direction: row;
          justify-content: center;
          gap: 18px;
          width: 80%;
          @media  screen and (max-width: 800px) {
            flex-direction: column;
            align-items: center;
        }
      }
      img {
          margin-bottom: 30px;
      }
}

.oats {
    img {
        position: absolute;
        right: 0px;
        top: 210px;
    }
}

@media  screen and (max-width: 800px) {
    .coco {
        display: none;
    }
    .leafcoco {
        display: none;
    }
    .oats {
        display: none;
    }
}


// section winners

.buttnandwinners {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    a {
        margin-bottom: 50px;
    }
}

.div-table {
    display: flex;
    justify-content: center;
    font-family: 'geomanistregular';
    font-size: 20px;
    margin-bottom: 70px;
    table {
        width: 50%;
        margin-top: 20px;
        color:#021D6D;
        tr {
          text-align: center;
          th {
              font-weight: 700px;
              padding: 20px;
          }
          td {
              padding: 7px;
              a {
                  text-decoration: none;
              }
          }
        }
    }
}



// form sectiom

.formsection {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 150px;
    margin-bottom: 150px;
    font-family: 'geomanistregular';
    form {
        color:#021D6D;
        border-top: 1px solid #021D6D;
        border-left: 1px solid #021D6D;
        border-right: 1px solid #021D6D;
        font-family: 'geomanistregular';
        
        textarea {
            width: 100%;
            border-top: 1px solid #021D6D;
            resize: none;
            height: 130px;
            border-left:none;
            border-right: none;
            border-bottom: none;
            padding-left: 8px;
            font-family: 'geomanistregular';
            font-size: 17px;
        }
        input {
            border: none;
            
        }
        input[type=tel] {
            border-left: 1px solid #021D6D;
            padding-left: 8px;
            font-size: 17px;
        }
        input[type=text] {
            padding-left: 8px;
            font-size: 17px;
        }
        button {
            color: white;
            background-color: #021D6D;
            border: none;
            width: 100%;
            height: 30px;
            font-size: 18px;
            cursor: pointer;
        }
    }

}

@media  screen and (max-width: 800px) {
    .formsection {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media  screen and (max-width: 800px) {
    body {
        overflow-x: hidden;
    }
}

// footer

.footer {
    background-color: #000046;
    margin-top: 30px;
    .more-about-alpro {
        display: flex;
        justify-content: space-around;
        align-content: center;
        padding-top: 30px;
        .formore {
             display: flex;
             flex-direction: column;
             justify-items: center;
             justify-content: center;
             h2 {
                font-family:"LunchBoxW05-Regular", Roboto, sans-serif;
                color: rgb(26, 124, 173);
                font-size: 1.5rem;
                white-space: nowrap;
                text-transform: uppercase;
                line-height: 1.2;
             }
             ul {
                 margin-top: 0px;
                 li {
                     display: inline-block;
                     margin: 20px;
                     a {
                         text-decoration: none;
                         line-height: 1.2;
                         text-decoration: none;
                         color: rgb(231, 231, 231);
                         transition: color 100ms ease 0s;
                     }
                 }
             }
        }
        .socia_m_icon {
            display: flex;
            gap: 12px;
            h2 {
                font-family:"LunchBoxW05-Regular", Roboto, sans-serif;
                color: rgb(26, 124, 173);
                font-size: 1.5rem;
                white-space: nowrap;
                line-height: 1.2;
            }
            a {
                margin-top: 5px;
            }
           img {
               width: 18px;  
               background-color: white;
           }
        }
    }

    hr {
        width: 63%;
        margin: auto 18.5%;
        color: rgb(26, 124, 173);
        height:1px;
        opacity: 0.4;
    }

    .bottom-info {
        color: rgb(26, 124, 173);
        width: 63%;
        margin: auto 18.5%;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        
        .left {
            ul {
                
                li {
                    display: inline-block;
                    padding: 10px;
                    a {
                        color: rgb(231, 231, 231);
                        text-decoration: none;
                    }
                }
            }
        }
        .right {
            color: rgb(231, 231, 231);
        }

    }
}

@media  screen and (max-width: 800px) {
    .more-about-alpro {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-content: center;
        align-items: center;
        text-align: center;
        .formore {
            margin-top: 30px;
        }
    }
}


