* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "LunchBoxOrnamentsW05-Rg";
  src: url("./fonts/LunchBox/LunchBoxOrnamentsW05-Rg.eot?#iefix");
  src: url("./fonts/LunchBox/LunchBoxOrnamentsW05-Rg.eot?#iefix") format("eot"), url("./fonts/LunchBox/LunchBoxOrnamentsW05-Rg.woff2") format("woff2"), url("./fonts/LunchBox/LunchBoxOrnamentsW05-Rg.woff") format("woff"), url("./fonts/LunchBox/LunchBoxOrnamentsW05-Rg.ttf") format("truetype");
}

@font-face {
  font-family: "LunchBoxW05-Bold";
  src: url("./fonts/LunchBox/LunchBoxW05-Bold.eot?#iefix");
  src: url("./fonts/LunchBox/LunchBoxW05-Bold.eot?#iefix") format("eot"), url("./fonts/LunchBox/LunchBoxW05-Bold.woff2") format("woff2"), url("./fonts/LunchBox/LunchBoxW05-Bold.woff") format("woff"), url("./fonts/LunchBox/LunchBoxW05-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "LunchBoxW05-Light";
  src: url("./fonts/LunchBox/LunchBoxW05-Light.eot?#iefix");
  src: url("./fonts/LunchBox/LunchBoxW05-Light.eot?#iefix") format("eot"), url("./fonts/LunchBox/LunchBoxW05-Light.woff2") format("woff2"), url("./fonts/LunchBox/LunchBoxW05-Light.woff") format("woff"), url("./fonts/LunchBox/LunchBoxW05-Light.ttf") format("truetype");
}

@font-face {
  font-family: "LunchBoxW05-Regular";
  src: url("./fonts/LunchBox/LunchBoxW05-Regular.eot?#iefix");
  src: url("./fonts/LunchBox/LunchBoxW05-Regular.eot?#iefix") format("eot"), url("./fonts/LunchBox/LunchBoxW05-Regular.woff2") format("woff2"), url("./fonts/LunchBox/LunchBoxW05-Regular.woff") format("woff"), url("./fonts/LunchBox/LunchBoxW05-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'geomanistregular';
  src: url("./fonts/geomanist/Geomanist-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

header {
  width: 90%;
  margin: auto 5%;
  position: relative;
}

nav {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 7vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  margin-top: 10px;
  padding: 15px 30px;
  -webkit-box-shadow: 1px 5px 27px -11px rgba(0, 0, 0, 0.32);
  box-shadow: 1px 5px 27px -11px rgba(0, 0, 0, 0.32);
}

nav .logo {
  height: 45px;
  width: 105px;
}

nav .nav-links {
  font-family: 'geomanistregular', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 30%;
}

nav .nav-links li {
  list-style: none;
  font-family: 'geomanistregular';
  font-weight: 900;
  font-size: 21px;
}

nav .nav-links li a {
  color: #021D6D;
  text-decoration: none;
}

nav .burger {
  display: none;
  cursor: pointer;
}

nav .burger div {
  width: 20px;
  height: 3px;
  background-color: #021D6D;
  margin: 5px;
}

@media screen and (max-width: 1124px) {
  nav .nav-links {
    width: 50%;
  }
}

@media screen and (max-width: 800px) {
  nav .nav-links {
    position: absolute;
    right: 0px;
    height: 90vh;
    top: 8vh;
    background-color: rgba(255, 255, 255, 0.7);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 10px;
    -webkit-transform: translateX(115%);
            transform: translateX(115%);
    -webkit-box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.27);
    box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.27);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  nav .nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  @-webkit-keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  nav .nav-links li {
    border-bottom: 2px solid #979691;
  }
  nav .nav-links li {
    opacity: 0;
  }
  nav .burger {
    display: block;
  }
  nav .toggle .line1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
            transform: rotate(-45deg) translate(-5px, 6px);
  }
  nav .toggle .line2 {
    opacity: 0;
  }
  nav .toggle .line3 {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
            transform: rotate(45deg) translate(-5px, -6px);
  }
}

@media screen and (max-width: 800px) {
  body {
    overflow-x: hidden;
  }
}

.nutsandleaf .nut-leaf {
  position: absolute;
  z-index: -1;
  top: -15px;
  left: -74px;
}

.nutsandleaf .nuts {
  position: absolute;
  top: 140px;
  left: -75px;
}

.heroimageandmesage {
  width: 90%;
  margin-left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 35px;
}

.heroimageandmesage .heromessage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

.heroimageandmesage .heromessage img {
  width: 100%;
  max-width: 266px;
  max-height: 133px;
}

.heroimageandmesage .heromessage p {
  font-family: 'geomanistregular';
  font-weight: 500;
  font-size: 18px;
  text-align: justify;
  margin-top: 15px;
  color: #252424;
}

.heroimageandmesage .heroimage img {
  width: 100%;
  max-width: 1031px;
  max-height: 563px;
}

@media screen and (max-width: 800px) {
  .heroimageandmesage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 90%;
    margin: auto 5%;
  }
  .heroimageandmesage .heromessage {
    display: none;
  }
  .heroimageandmesage .heroimage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .heroimageandmesage .heroimage img {
    border-radius: 10px;
  }
  .nuts {
    display: none;
  }
}

.yellow-flowers {
  margin-top: -140px;
  padding: 0px;
}

.yellow-flowers img {
  margin: 0px;
  width: 100%;
  max-width: 296px;
  height: 100%;
}

.process-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 800px) {
  .yellow-flowers {
    display: none;
  }
  .palmeleaf-prizy img {
    display: none;
  }
  .content-prizy img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.title-prizy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
  margin-bottom: 40px;
}

.content-prizy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-prizy img {
  width: 100%;
  max-width: 397px;
  max-height: auto;
}

@media screen and (max-width: 800px) {
  .content-prizy {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.palmeleaf-prizy img {
  position: absolute;
  right: 0px;
  top: -96px;
}

.leafcoco img {
  position: absolute;
  top: -50px;
}

.coco img {
  position: absolute;
  top: 250px;
  left: 65px;
}

.insta-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.insta-section .post-insta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 18px;
  width: 80%;
}

@media screen and (max-width: 800px) {
  .insta-section .post-insta {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.insta-section img {
  margin-bottom: 30px;
}

.oats img {
  position: absolute;
  right: 0px;
  top: 210px;
}

@media screen and (max-width: 800px) {
  .coco {
    display: none;
  }
  .leafcoco {
    display: none;
  }
  .oats {
    display: none;
  }
}

.buttnandwinners {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttnandwinners a {
  margin-bottom: 50px;
}

.div-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'geomanistregular';
  font-size: 20px;
  margin-bottom: 70px;
}

.div-table table {
  width: 50%;
  margin-top: 20px;
  color: #021D6D;
}

.div-table table tr {
  text-align: center;
}

.div-table table tr th {
  font-weight: 700px;
  padding: 20px;
}

.div-table table tr td {
  padding: 7px;
}

.div-table table tr td a {
  text-decoration: none;
}

.formsection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 60px;
  margin-top: 150px;
  margin-bottom: 150px;
  font-family: 'geomanistregular';
}

.formsection form {
  color: #021D6D;
  border-top: 1px solid #021D6D;
  border-left: 1px solid #021D6D;
  border-right: 1px solid #021D6D;
  font-family: 'geomanistregular';
}

.formsection form textarea {
  width: 100%;
  border-top: 1px solid #021D6D;
  resize: none;
  height: 130px;
  border-left: none;
  border-right: none;
  border-bottom: none;
  padding-left: 8px;
  font-family: 'geomanistregular';
  font-size: 17px;
}

.formsection form input {
  border: none;
}

.formsection form input[type=tel] {
  border-left: 1px solid #021D6D;
  padding-left: 8px;
  font-size: 17px;
}

.formsection form input[type=text] {
  padding-left: 8px;
  font-size: 17px;
}

.formsection form button {
  color: white;
  background-color: #021D6D;
  border: none;
  width: 100%;
  height: 30px;
  font-size: 18px;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .formsection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 800px) {
  body {
    overflow-x: hidden;
  }
}

.footer {
  background-color: #000046;
  margin-top: 30px;
}

.footer .more-about-alpro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-top: 30px;
}

.footer .more-about-alpro .formore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .more-about-alpro .formore h2 {
  font-family: "LunchBoxW05-Regular", Roboto, sans-serif;
  color: #1a7cad;
  font-size: 1.5rem;
  white-space: nowrap;
  text-transform: uppercase;
  line-height: 1.2;
}

.footer .more-about-alpro .formore ul {
  margin-top: 0px;
}

.footer .more-about-alpro .formore ul li {
  display: inline-block;
  margin: 20px;
}

.footer .more-about-alpro .formore ul li a {
  text-decoration: none;
  line-height: 1.2;
  text-decoration: none;
  color: #e7e7e7;
  -webkit-transition: color 100ms ease 0s;
  transition: color 100ms ease 0s;
}

.footer .more-about-alpro .socia_m_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.footer .more-about-alpro .socia_m_icon h2 {
  font-family: "LunchBoxW05-Regular", Roboto, sans-serif;
  color: #1a7cad;
  font-size: 1.5rem;
  white-space: nowrap;
  line-height: 1.2;
}

.footer .more-about-alpro .socia_m_icon a {
  margin-top: 5px;
}

.footer .more-about-alpro .socia_m_icon img {
  width: 18px;
  background-color: white;
}

.footer hr {
  width: 63%;
  margin: auto 18.5%;
  color: #1a7cad;
  height: 1px;
  opacity: 0.4;
}

.footer .bottom-info {
  color: #1a7cad;
  width: 63%;
  margin: auto 18.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.footer .bottom-info .left ul li {
  display: inline-block;
  padding: 10px;
}

.footer .bottom-info .left ul li a {
  color: #e7e7e7;
  text-decoration: none;
}

.footer .bottom-info .right {
  color: #e7e7e7;
}

@media screen and (max-width: 800px) {
  .more-about-alpro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .more-about-alpro .formore {
    margin-top: 30px;
  }
}
/*# sourceMappingURL=style.css.map */